### sexandlies subproject intro notebook

Please work in this notebook in order to calculate your results.

SUMMARY:
* Part 1 - stats
  * load data file
  * count and display categories 
  * calculate statistical significances
* Part 2 - analyze face differences
  * load action unit data file
  * calculate differene AU means and variances for each group
  * calcuate different smile cluster frequencies for each group

In [53]:
# hello world - verify that your jupyter environment is working
print('hello world')

hello world

In [54]:
# load all the modules we will use
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind

In [55]:
# load data
df = pd.read_csv('../data/gender_data.csv')
print(df.shape)
display(df)

(87, 5)

,root,interrogator_is_male,witness_is_male,interrogator_believes,describer_job_is_truth
0,2018-02-17_14-33-35-477,0,0,0,1
1,2018-02-17_14-45-40-200,1,1,0,1
2,2018-02-17_14-58-58-929,0,1,1,1
3,2018-02-17_14-59-22-962,1,0,1,0
4,2018-02-17_15-13-33-271,1,0,1,0
5,2018-02-17_15-15-12-644,0,1,1,1
6,2018-02-17_15-30-27-188,1,1,1,0
7,2018-02-17_15-58-54-6,0,1,0,1
8,2018-02-17_15-59-37-779,1,0,0,0
9,2018-02-17_16-12-17-891,0,1,1,1
10,2018-02-17_16-12-53-703,1,0,1,1
11,2018-02-25_13-14-22-215,0,1,1,1
12,2018-02-25_13-16-01-653,0,1,1,1
13,2018-02-25_13-33-09-475,0,1,1,1
14,2018-02-25_13-34-11-253,0,1,1,0
15,2018-02-25_13-49-51-506,1,1,1,0
16,2018-02-25_13-50-22-285,0,1,1,1
17,2018-02-25_14-05-58-190,0,0,1,1
18,2018-02-25_14-07-04-471,1,1,0,1
19,2018-02-25_14-21-26-22,0,1,1,0
20,2018-02-25_14-21-51-412,1,1,1,1
21,2018-02-25_14-35-36-494,0,0,1,0
22,2018-02-25_14-35-41-678,1,1,1,1
23,2018-02-25_14-49-36-200,1,0,1,0
24,2018-02-25_14-50-44-6,1,0,1,0
25,2018-02-25_15-05-13-792,1,1,0,0
26,2018-02-25_15-05-31-847,1,0,1,1
27,2018-02-25_15-51-57-535,1,1,0,1
28,2018-02-25_15-52-10-32,1,1,1,1
29,2018-02-25_16-05-37-615,1,1,1,0
...,...,...,...,...,...
57,2018-03-04_17-37-48-342,1,0,0,0
58,2018-03-04_17-40-24-748,0,0,0,0
59,2018-03-04_17-52-36-829,1,0,1,0
60,2018-03-04_17-52-53-448,0,0,0,0
61,2018-03-04_18-05-46-288,1,0,0,0
62,2018-03-04_18-06-42-851,1,0,0,0
63,2018-03-04_18-20-44-311,1,0,1,0
64,2018-03-04_18-21-30-606,1,0,1,0
65,2018-03-04_18-33-41-474,1,1,1,1
66,2018-03-04_18-34-39-751,0,0,0,0
67,2018-03-03_14-31-25-188,0,1,1,1
68,2018-03-03_14-36-59-99,0,1,1,0
69,2018-03-03_14-50-02-899,0,1,0,0
70,2018-03-03_14-55-34-435,0,0,1,0
71,2018-03-03_15-08-47-393,0,1,1,0
72,2018-03-03_15-11-18-614,1,0,1,0
73,2018-03-03_15-24-43-406,0,0,0,1
74,2018-03-03_15-26-12-985,0,1,0,0
75,2018-03-03_15-40-45-399,0,0,1,1
76,2018-03-03_15-41-13-419,1,1,1,1
77,2018-03-03_15-54-55-137,0,0,1,0
78,2018-03-03_15-55-22-859,1,1,0,0
79,2018-03-03_16-08-55-856,0,0,1,1
80,2018-03-03_16-09-54-314,1,0,1,0
81,2018-03-03_16-23-45-184,0,1,1,1
82,2018-03-03_16-24-56-532,1,0,0,1
83,2018-03-03_16-37-02-627,1,0,0,1
84,2018-03-03_16-37-41-689,0,0,1,0
85,2018-03-03_16-49-28-573,1,0,1,1
86,2018-03-03_16-50-57-586,1,0,0,0

In [56]:
#count how many of each category type

# each of below are a subselected DataFrame
mm = df[(df['interrogator_is_male'] == 1) & (df['witness_is_male'] == 1) ]
mf = df[(df['interrogator_is_male'] == 1) & (df['witness_is_male'] == 0) ]
fm = df[(df['interrogator_is_male'] == 0) & (df['witness_is_male'] == 1) ]
ff = df[(df['interrogator_is_male'] == 0) & (df['witness_is_male'] == 0) ]

# display counts
for d in [mm, mf, fm, ff]:
    print('----')
    print(d.mean())

----
interrogator_is_male      1.000000
witness_is_male           1.000000
interrogator_believes     0.580645
describer_job_is_truth    0.548387
dtype: float64
----
interrogator_is_male      1.000000
witness_is_male           0.000000
interrogator_believes     0.631579
describer_job_is_truth    0.263158
dtype: float64
----
interrogator_is_male      0.000000
witness_is_male           1.000000
interrogator_believes     0.681818
describer_job_is_truth    0.590909
dtype: float64
----
interrogator_is_male      0.000000
witness_is_male           0.000000
interrogator_believes     0.533333
describer_job_is_truth    0.333333
dtype: float64

In [57]:
# display %  success of interrogator in determining truth

#TODO

In [58]:
#TODO - statistical tests

## Are women better at decieving men than other women

In [59]:
#women decieve 
wl= df[(df['witness_is_male'] == 0) & (df['describer_job_is_truth'] == 0) ]
wl1 = wl[['interrogator_is_male','interrogator_believes']]

wlContingency= pd.crosstab(wl1.interrogator_believes, wl1.interrogator_is_male,margins=True)
wlContingency

interrogator_is_male    0   1  All
interrogator_believes
0                       5   5   10
1                       5   9   14
All                    10  14   24

In [60]:
oddsratio, pvalue = stats.fisher_exact([[5, 5], [5, 9]])
pvalue

0.67845605061246239

## Are men better at decieving woman than other men

In [61]:
# Males that lie sub group
mLies = df[(df['describer_job_is_truth'] == 0) & (df['witness_is_male'] == 1) ]
# Create contigency table
table1 = pd.crosstab(mLies.interrogator_is_male, mLies.interrogator_believes)
table1

interrogator_believes  0   1
interrogator_is_male
0                      4   5
1                      3  11

In [62]:
# Use fisher's exact test to find p value
stats.fisher_exact(table1)

(2.9333333333333331, 0.36303674787993073)

## Are men better at detecting lies from women or other men?

In [63]:
# Interrogator is male and witness lies sub group
mBelief = df[(df['describer_job_is_truth'] == 0) & (df['interrogator_is_male'] == 1) ]
# Create contigency table about if the witness is male and if the interrogator believes the witness
table2 = pd.crosstab(mBelief.witness_is_male, mBelief.interrogator_believes)
table2

interrogator_believes  0   1
witness_is_male
0                      5   9
1                      3  11

In [64]:
# Use fisher's exact test to find p value
stats.fisher_exact(table2)

(2.0370370370370372, 0.67761674718196474)

## Are women better at detecting lies from men or other women?

In [65]:
# Interrogator is female and witness lies sub group
wBelief = df[(df['describer_job_is_truth'] == 0) & (df['interrogator_is_male'] == 0) ]
# Create contigency table about if the interrogator believes the witness
table3 = pd.crosstab(wBelief.witness_is_male, wBelief.interrogator_believes)
table3

interrogator_believes  0  1
witness_is_male
0                      5  5
1                      4  5

In [66]:
# Use fisher's exact test to find p value
stats.fisher_exact(table3)

(1.25, 1.0)

## Do women choose to lie more to men or to other women?

In [67]:
# Female sub group
f = df[ (df['witness_is_male'] == 0) ]
# Contingency table about if the witness chose to lie more to interrogator based on sex
table4 = pd.crosstab(f.interrogator_is_male,f.describer_job_is_truth)
table4

describer_job_is_truth   0  1
interrogator_is_male
0                       10  5
1                       14  5

In [68]:
stats.fisher_exact(table4)

(0.7142857142857143, 0.71756497118009921)

## Do men choose to lie more to women or to other men?

In [69]:
# Male sub group
m = df[ (df['witness_is_male'] == 1) ]
# Contingency table about if the witness chose to lie more to interrogator based on sex
table5 = pd.crosstab(m.interrogator_is_male,m.describer_job_is_truth)
table5

describer_job_is_truth   0   1
interrogator_is_male
0                        9  13
1                       14  17

In [70]:
stats.fisher_exact(table5)

(0.84065934065934067, 0.78605740011591063)

## Do men believe women than other men

In [71]:
#Subset of data with men interrogator 
mi = df [(df['interrogator_is_male']==1)]
miContingency = pd.crosstab(mi.interrogator_believes, mi.witness_is_male, margins =True)
miContingency

witness_is_male         0   1  All
interrogator_believes
0                       7  13   20
1                      12  18   30
All                    19  31   50

In [72]:
oddsratio, pvalue = stats.fisher_exact([[7, 13], [12, 18]])
pvalue

0.77368237208511714

## Do woman believe men than other woman

In [73]:
#Subset of data with Women interrogator

mi = df [(df['interrogator_is_male']==0)]
miContingency = pd.crosstab(mi.interrogator_believes, mi.witness_is_male, margins =True)
miContingency

witness_is_male         0   1  All
interrogator_believes
0                       7   7   14
1                       8  15   23
All                    15  22   37

In [74]:
oddsratio, pvalue = stats.fisher_exact([[7, 7], [8, 15]])
pvalue

0.49334253608447165

## Do men detect truth better from women than other men

In [75]:
#Subset of data with male interrogator where witness job is always truth
mt= df[(df['interrogator_is_male'] == 1) & (df['describer_job_is_truth'] == 1) ]

mtContingency= pd.crosstab(mt.interrogator_believes, mt.witness_is_male,margins=True)
mtContingency

witness_is_male        0   1  All
interrogator_believes
0                      2  10   12
1                      3   7   10
All                    5  17   22

In [76]:
oddsratio, pvalue = stats.fisher_exact([[2, 10], [3, 7]])
pvalue

0.62406015037593998

## Do Woman detect truth better from men than other woman

In [77]:
#Subset of data with woman interrogator where witness job is always truth
wt= df[(df['interrogator_is_male'] == 0) & (df['describer_job_is_truth'] == 1) ]

wtContingency= pd.crosstab(wt.interrogator_believes, wt.witness_is_male,margins=True)
wtContingency

witness_is_male        0   1  All
interrogator_believes
0                      2   3    5
1                      3  10   13
All                    5  13   18

In [78]:
oddsratio, pvalue = stats.fisher_exact([[2, 3], [3, 10]])
pvalue

0.58274976657329658

In [80]:
def f(row):
    if row['interrogator_believes']==row['describer_job_is_truth']:
        val=1
    else:
        val=0
    return val

In [82]:
df['interrogator_is_correct']= df.apply(f,axis=1)
df

,root,interrogator_is_male,witness_is_male,interrogator_believes,describer_job_is_truth,interrogator_is_correct
0,2018-02-17_14-33-35-477,0,0,0,1,0
1,2018-02-17_14-45-40-200,1,1,0,1,0
2,2018-02-17_14-58-58-929,0,1,1,1,1
3,2018-02-17_14-59-22-962,1,0,1,0,0
4,2018-02-17_15-13-33-271,1,0,1,0,0
5,2018-02-17_15-15-12-644,0,1,1,1,1
6,2018-02-17_15-30-27-188,1,1,1,0,0
7,2018-02-17_15-58-54-6,0,1,0,1,0
8,2018-02-17_15-59-37-779,1,0,0,0,1
9,2018-02-17_16-12-17-891,0,1,1,1,1
10,2018-02-17_16-12-53-703,1,0,1,1,1
11,2018-02-25_13-14-22-215,0,1,1,1,1
12,2018-02-25_13-16-01-653,0,1,1,1,1
13,2018-02-25_13-33-09-475,0,1,1,1,1
14,2018-02-25_13-34-11-253,0,1,1,0,0
15,2018-02-25_13-49-51-506,1,1,1,0,0
16,2018-02-25_13-50-22-285,0,1,1,1,1
17,2018-02-25_14-05-58-190,0,0,1,1,1
18,2018-02-25_14-07-04-471,1,1,0,1,0
19,2018-02-25_14-21-26-22,0,1,1,0,0
20,2018-02-25_14-21-51-412,1,1,1,1,1
21,2018-02-25_14-35-36-494,0,0,1,0,0
22,2018-02-25_14-35-41-678,1,1,1,1,1
23,2018-02-25_14-49-36-200,1,0,1,0,0
24,2018-02-25_14-50-44-6,1,0,1,0,0
25,2018-02-25_15-05-13-792,1,1,0,0,1
26,2018-02-25_15-05-31-847,1,0,1,1,1
27,2018-02-25_15-51-57-535,1,1,0,1,0
28,2018-02-25_15-52-10-32,1,1,1,1,1
29,2018-02-25_16-05-37-615,1,1,1,0,0
...,...,...,...,...,...,...
57,2018-03-04_17-37-48-342,1,0,0,0,1
58,2018-03-04_17-40-24-748,0,0,0,0,1
59,2018-03-04_17-52-36-829,1,0,1,0,0
60,2018-03-04_17-52-53-448,0,0,0,0,1
61,2018-03-04_18-05-46-288,1,0,0,0,1
62,2018-03-04_18-06-42-851,1,0,0,0,1
63,2018-03-04_18-20-44-311,1,0,1,0,0
64,2018-03-04_18-21-30-606,1,0,1,0,0
65,2018-03-04_18-33-41-474,1,1,1,1,1
66,2018-03-04_18-34-39-751,0,0,0,0,1
67,2018-03-03_14-31-25-188,0,1,1,1,1
68,2018-03-03_14-36-59-99,0,1,1,0,0
69,2018-03-03_14-50-02-899,0,1,0,0,1
70,2018-03-03_14-55-34-435,0,0,1,0,0
71,2018-03-03_15-08-47-393,0,1,1,0,0
72,2018-03-03_15-11-18-614,1,0,1,0,0
73,2018-03-03_15-24-43-406,0,0,0,1,0
74,2018-03-03_15-26-12-985,0,1,0,0,1
75,2018-03-03_15-40-45-399,0,0,1,1,1
76,2018-03-03_15-41-13-419,1,1,1,1,1
77,2018-03-03_15-54-55-137,0,0,1,0,0
78,2018-03-03_15-55-22-859,1,1,0,0,1
79,2018-03-03_16-08-55-856,0,0,1,1,1
80,2018-03-03_16-09-54-314,1,0,1,0,0
81,2018-03-03_16-23-45-184,0,1,1,1,1
82,2018-03-03_16-24-56-532,1,0,0,1,0
83,2018-03-03_16-37-02-627,1,0,0,1,0
84,2018-03-03_16-37-41-689,0,0,1,0,0
85,2018-03-03_16-49-28-573,1,0,1,1,1
86,2018-03-03_16-50-57-586,1,0,0,0,1

In [83]:
df.mean()

interrogator_is_male       0.574713
witness_is_male            0.609195
interrogator_believes      0.609195
describer_job_is_truth     0.459770
interrogator_is_correct    0.459770
dtype: float64

In [ ]:
mmc = df[(df['interrogator_is_male'] == 1) & (df['witness_is_male'] == 1) ]
mfc = df[(df['interrogator_is_male'] == 1) & (df['witness_is_male'] == 0) ]
fmc = df[(df['interrogator_is_male'] == 0) & (df['witness_is_male'] == 1) ]
ffc = df[(df['interrogator_is_male'] == 0) & (df['witness_is_male'] == 0) ]

# display counts
for d in [mmc, mfc, fmc, ffc]:
    print('----')
    print(d.mean())

In [86]:
menCorrectwithMen = df[(df['interrogator_is_male'] == 1) & (df['witness_is_male'] == 1) ]['interrogator_is_correct']
menCorrectwithWomen = df[(df['interrogator_is_male'] == 1) & (df['witness_is_male'] == 0) ]['interrogator_is_correct']

In [87]:
print(menCorrectwithMen.sum())

10

In [89]:
print(menCorrectwithMen.count()-10)

21

In [90]:
print(menCorrectwithWomen.sum())

8

In [91]:
print(menCorrectwithWomen.count()-8)

11

# Can men correctly identify truth from men than other women

In [93]:
stats.fisher_exact([[21,10],[11,8]])

(1.5272727272727273, 0.55159178326651603)

In [94]:
WomenCorrectwithWomen = df[(df['interrogator_is_male'] == 0) & (df['witness_is_male'] == 0) ]['interrogator_is_correct']
print(WomenCorrectwithWomen.sum())

8

In [95]:
print(WomenCorrectwithWomen.count()-8)

7

# Are men detecting truth from men than other women detecting truth from women

In [96]:
stats.fisher_exact([[21,10],[7,8]])

(2.3999999999999999, 0.2080298510725104)

In [97]:
WomenCorrectwithMen = df[(df['interrogator_is_male'] == 0) & (df['witness_is_male'] == 1) ]['interrogator_is_correct']
print(WomenCorrectwithMen.sum())

14

In [98]:
print(WomenCorrectwithMen.count()-14)

8

# Are women better at guessing correctly from men than other women

In [99]:
stats.fisher_exact([[8,14],[7,8]])

(0.65306122448979587, 0.7341377625630634)

# Women better detecting truth from men than men are from other men (Works !!!)

In [102]:
stats.fisher_exact([[21,10],[8,14]])

(3.6749999999999998, 0.029121337075177962)

# How often do opposite sex lie to each other

In [103]:
menTruthfulToWomen = df[(df['witness_is_male'] == 1) & (df['interrogator_is_male'] == 0) ]['describer_job_is_truth']
print(menTruthfulToWomen.sum())

13

In [104]:
print(menTruthfulToWomen.count()-13)

9

In [105]:
womenTruthfulToMen = df[(df['witness_is_male'] == 0) & (df['interrogator_is_male'] == 1) ]['describer_job_is_truth']
print(womenTruthfulToMen.sum())

5

In [106]:
print(womenTruthfulToMen.count()-5)

14

In [107]:
stats.fisher_exact([[14, 5], [9, 13]])

(4.0444444444444443, 0.058221501025700638)